
  ul li{
    display: flex;
    font-weight: 700;
  }
/*background video */
.video-background{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
}
.caption{
    position: absolute;
    top: 38%;
    width: 100%;
    color: white;
}