
<header>
  <div div="container">

<div div="row">
  <div class="col-md-3 col-sm-3 col-3">
      <div class="logo">
          <img src="" alt="logo">
      </div>
  </div>
  <div class="col-md-9 col-sm-9 col-9 text-end">
      <div class="menu_icon" [class.menu_icon_Class]="menu_icon_variable"(click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>


      </div>
      <div class="menu"[class.menuClass]="menuVariable">
          <ul>
              <li>HOME</li>
              <li>ABOUTUS</li>
              <li>CLASSES</li>
              <li>SCHEDULES</li>
              <li>SIGNUP</li>
          </ul>
      </div>
      </div>

  </div>
  </div>
</header>