<section>
<div class="contact-container">
    <div class="form-container">
        <h3>Message Us</h3>
        <form action="" class="contact-form">
            <input type="text"placeholder="Your Name" required>
            <input type="email"placeholder="Enter Your email" required>
            <input type="text"placeholder="Subject" required>
            <textarea name="" id="" cols="30" rows="10"placeholder="write message" required></textarea>
            <input type="submit"value="Send Message"class="send-btn">
        </form>
    </div>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7979.467768049678!2d35.936728213618714!3d-0.37275757718625074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182987db67dcce4b%3A0xf9439dcfaaa215ae!2sEgerton%20University%20Main%20Gate!5e0!3m2!1sen!2ske!4v1676648598230!5m2!1sen!2ske" 
     style="border:0;" 
    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
</section>
