<div class="container text-center top">
    <span>
        <h1>OUR SCHEDULES</h1>
        <span>
        <h4>Training Studio is free CSS template for gyms and fitness centers. You are</h4>
        <h4>allowed to use this layout for your business website.</h4>
    </span>
    </span>

</div>

<table class="table">
    
    <tbody>
      <tr>
        
        <td>Fitness Class</td>
        <td></td>
        <td></td>
        <td>Booster</td>
        
      </tr>
      <tr>
        
        <td>Muscle Training</td>
        <td></td>
        <td></td>
        <td>Lameck</td>
      </tr>
      <tr>
    
        <td colspan="2">Body building</td>
        <td></td>
        <td></td>
        <td>Lameck</td>d>
      </tr>
      <tr>
        <td>Yoga Training Class</td>
        <td></td>
        <td></td>
        <td>Booster</td>
      </tr>
      <tr>
        <td>Advanced training</td>
        <td></td>
        <td></td>
        <td>Booster</td>
      </tr>
    </tbody>
  </table>
  <div class="container text-center top">
    <span>
        <h1>OUR SCHEDULES</h1>
        <span>
        <h4>Training Studio is free CSS template for gyms and fitness centers. You are</h4>
        <h4>allowed to use this layout for your business website.</h4>
    </span>
    </span>

</div>

<table class="table">
    
    <tbody>
      <tr>
        
        <td>Fitness Class</td>
        <td></td>
        <td></td>
        <td>Booster</td>
        
      </tr>
      <tr>
        
        <td>Muscle Training</td>
        <td></td>
        <td></td>
        <td>Lameck</td>
      </tr>
      <tr>
    
        <td colspan="2">Body building</td>
        <td></td>
        <td></td>
        <td>Lameck</td>d>
      </tr>
      <tr>
        <td>Yoga Training Class</td>
        <td></td>
        <td></td>
        <td>Booster</td>
      </tr>
      <tr>
        <td>Advanced training</td>
        <td></td>
        <td></td>
        <td>Booster</td>
      </tr>
    </tbody>
  </table>